
.flex {
    /*display: flex;*/
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    box-sizing: border-box;
    display: flex;
}

.flex-none {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

.layout-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
}

.layout-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
}

.layout-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.layout-align-start-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    max-width: 100%;

    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.layout-align-center-start {
    place-content: flex-start center;
    align-items: flex-start;
}

.layout-align-center-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    max-width: 100%;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.layout-align-left-center {
    min-width: inherit;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.layout-fill {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}
