
.no-animations {

    .md-ripple-container, .md-ripple-placed {
        transition: none !important;
    }
    .md-open-menu-container.md-active {
        opacity: 1 !important;
        transition: none !important;
        transition-duration: 0ms !important;
    }

    md-dialog.md-transition-in {
        opacity: 1 !important;
        transition: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }

    md-dialog.md-transition-out {
        opacity: 0 !important;
        transition: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }

    .md-open-menu-container.md-active > md-menu-content > * {
        opacity: 1 !important;
        transition: none !important;
        transition-duration: 0ms !important;
        transition-delay: 0ms !important;
    }
    .md-button
    {
        transition: none !important;
        transition-duration: 0ms !important;
        transition-delay: 0ms !important;
    }
    md-dialog._md-transition-in {
        transition: none !important;
        transition-duration: 0ms !important;
        transition-delay: 0ms !important;
    }

    md-input-container label{
        transition: none!important;
        transition-duration: 0ms!important;
        transition-delay: 0ms!important;
    }


    md-slider ._md-thumb-container,
    ._md-focus-ring,
    ._md-track-fill,
    ._md-thumb {
        transition: none!important;
        transition-duration: 0ms!important;
        transition-delay: 0ms!important;
    }

    md-select-menu {
        transition: none!important;
        transition-duration: 0ms!important;
        transition-delay: 0ms!important;
    }

    md-select-menu md-content {
        transition: none!important;
        transition-duration: 0ms!important;
        transition-delay: 0ms!important;
    }
}

md-dialog.open-close-no-animated {

    &.md-transition-in {
        opacity: 1 !important;
        transition: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }

    &.md-transition-out {
        opacity: 0 !important;
        transition: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }

}