<!DOCTYPE html>
<html lang="en">
  <head profile="http://spoch.splyza.com/">
    <base href="/">
    <meta name="google" content="notranslate">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="SPLYZA Teams" />
    <meta property="og:type" content="video.app" />
    <meta property="og:url" content="https://site.sandbox.spoch.net/title/t1000" />
    <meta property="og:image" content="https://site.sandbox.spoch.net/assets/img/spoch-icon-40.png" />
    <link rel="apple-touch-icon" href="https://site.sandbox.spoch.net/assets/img/spoch-icon-40.png">
    <meta property="og:description" content="" />
    <title>store demo</title>
    <link rel="icon" type="image/png" href="./img/spoch-icon-40.png" />
    <base href="/">


  </head>

  <body class="layout-column flex">
    <store-demo style="height: 100%; min-height: 100%; display: flex; flex: 1; flex-direction: column;">

      ..loading

    </store-demo>

  </body>
</html>
